/* Author: JhonyRovetta */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.circle{
    position: relative;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle div{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid rgb(var(--outside-circle-color));
    animation: animate 2.5s linear reverse infinite;
}

.circle div::before{
    content: '';
    position: absolute;
    top: 34px;
    left: 34px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(var(--outside-circle-color));
    box-shadow: 0 0 0 5px rgba(var(--outside-circle-color), 0.2),
    0 0 0 10px rgba(var(--outside-circle-color), 0.133),
    0 0 0 20px rgba(var(--outside-circle-color), 0.067),
    0 0 20px rgb(var(--outside-circle-color)),
    0 0 50px rgb(var(--outside-circle-color));
}

.circle div:nth-child(2){
    width: 200px;
    height: 200px;
    border: 4px solid transparent;
    border-left: 4px solid rgb(var(--middle-circle-color));
    animation: animate 2s linear infinite;
    animation-delay: -0.5s;
}

.circle div:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 19px;
    left: 19px;
    background-color: rgb(var(--middle-circle-color));
    box-shadow: 0 0 0 5px rgba(var(--middle-circle-color), 0.2),
    0 0 0 10px rgba(var(--middle-circle-color), 0.133),
    0 0 0 20px rgba(var(--middle-circle-color), 0.067),
    0 0 20px rgb(var(--middle-circle-color)),
    0 0 50px rgb(var(--middle-circle-color));
}

.circle div:nth-child(3){
    width: 100px;
    height: 100px;
    border: 4px solid transparent;
    border-top: 4px solid rgb(var(--inside-circle-color));
    animation: animate 1.5s linear reverse infinite;
    animation-delay: -1s;
}

.circle div:nth-child(3)::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgb(var(--inside-circle-color));
    box-shadow: 0 0 0 5px rgba(var(--inside-circle-color), 0.2),
    0 0 0 10px rgba(var(--inside-circle-color), 0.133),
    0 0 0 20px rgba(var(--inside-circle-color), 0.067),
    0 0 20px rgb(var(--inside-circle-color)),
    0 0 50px rgb(var(--inside-circle-color));
}

.name{
    position: absolute;
    bottom: 30px;
}

.name:hover{
    transform: scale(1.2);
}

.name a{
    text-decoration: none;
    color: #edf1f4;
}
